.instruments {
    width: 100%;
    box-shadow: -29px 60px 90px rgba(23, 18, 43, 0.55);
    backdrop-filter: blur(25px);
    padding-top: 10px;
    border-radius: 10px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background: #161A25;
    box-shadow: -29px 60px 90px rgba(23, 18, 43, 0.55);
    backdrop-filter: blur(25px);
}

.instruments-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    overflow: scroll;
}

.instruments-list-header {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 5px;
}