.chart {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-wrapper {
    padding: 10px;
    border-radius: 10px;
    background: #161A25;
    box-shadow: -29px 60px 90px rgba(23, 18, 43, 0.55);
    backdrop-filter: blur(25px);
}