.button {
    cursor: pointer;
    width: 40%;
    margin: 0 3px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.red{
    background: #EF5350;
}

.green {
    background: #5ABD2B;
}

.profile-button {
    background: transparent;
    font-size: 24px;
    color: #EEEEEE;
    position: absolute;
    top: 25px;
    right: 0;
}