.auth-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 47, 84);
}

.auth-wrapper {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 50%;
    min-height: 50vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 35px 0;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    padding: 15px;
    min-height: 50vh;
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.error {
    color: rgb(209, 49, 49);
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px auto;
    width: fit-content;
}

.auth-form {
    width: 100%;
}

.buttons-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-submit {
    width: 35%;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: #fff;
    background-color: rgb(139, 97, 197);
    cursor: pointer;
}

.or {
    color: #fff;
    margin: 15px 0;
}

.tabs {
    display: flex;
    justify-content: center;
    width: 90%;
}