.list-item-4 {
    display: grid;
    grid-template-columns: 13% 25% 25% 37%;
    height: 35px;
    border-radius: 5px
}

.list-item-4-e {
    display: grid;
    grid-template-columns: 2fr 1.3fr 1.3fr 1.5fr;
    height: 35px;

}


.list-item-3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr;
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;
}

.list-item-part {
    cursor: pointer;
    width: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}


@media screen and (min-width: 1440px) {

    .orderbook-summary .main,
    .orderbook-summary .secondary {
        font-size: 14px;
    }

    .list-item-part {
        font-size: 12px;
    }
}