.create-order-wrapper {
    padding: 28px 11px 0 7px;
    width: 100%;
    grid-row-start: 1;
    /* grid-row-end: 3; old one*/
    grid-row-end: 4;
    border-radius: 10px;
    background: #161A25;
    box-shadow: -29px 60px 90px rgba(23, 18, 43, 0.55);
    backdrop-filter: blur(25px);
}

.tabs-wrappers {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.limit-tab {
    text-align: left;
    font-size: 15px;
    color:#B6B9C0;
    cursor: pointer;
}

.active-tab {
    color: #dcb804;
}