.logo {
    font-size: 32px;
    color: #181C28;
    font-weight: 900;
    text-decoration: none;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-wrapper svg {
    margin-right: 10px;
}