.tab {
    width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    background: transparent;
    color: #fff;
}

.active {
    color: #000;
    background: rgba(255, 253, 253, 0.96);
    border: 2px solid #FFFFFF;
}